.container-gsap {
  padding: 0 15px;
  direction: ltr;
  max-width: 1420px;
  margin: 0 auto;
}

.slideItem__img {
  width: 1390px;
  height: 435px;
}

.slideItem__text {
  position: absolute;
  top: 20%;
  text-align: left;
  left: 10%;
}

.slideItem {
  position: relative;
}

.slideItem__name {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  color: #333333;
  max-width: 10em;
  margin: 0;
}

.slideItem__desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 15px;
}

.slideItem__btn {
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  line-height: 48px;
  font-size: 13px;
  font-weight: 600;
  padding: 0 28px;
  border: none !important;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  transition: all 0.2s linear 0s;
  margin: 0;
  outline: 0 none;
  text-align: center;
  background-color: #ffd61a;
  background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  margin-top: 2em;
  outline: none;
}

.slideItem__btn:hover {
  background-color: #333333;
  cursor: pointer;
  transition: all 0.2s linear 0s;
}