.suggestion {
    max-width: 1420px;
    margin: 0 auto;
}

.content-layout {
    display: grid;
    grid-template-columns: 22% 78%;
    /* justify-content: space-around; */
    direction: ltr;
}

.grid-item {

    padding: 20px;
}

.banner-sidebar {
    width: 280px;
    height: 425px;
    z-index: 1000;
    overflow: hidden;
}

.item-c {
    color: #333333;
    font-size: 14px;
    height: 36px;
    margin-bottom: 35px;
    padding: 0;
}

.item-d {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 3px;
    background-color: #fff;
}

.prouduct-list2 {
    width: 245.4px;
    height: 260.4px;
}

.Product-slider-box:hover .prouduct-list2 {
    display: none;
}

.Product-slider-box:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.Product-slider-box:hover .prouduct-list-hidden2 {
    display: block;
    z-index: 10;
}

.prouduct-list-hidden2 {
    width: 253.4px;
    height: 267.4px;
    display: none;
    z-index: -1;
    transition-duration: 5s;
}

.title-sidebar {
    text-align: right;
    font-size: 18px;
    margin: 10px 13px;
}

.list-product {

    cursor: pointer;
}

.product-teaser {
    text-decoration: none;
    display: flex;
    width: 282.4px;
    height: 114.6px;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
    justify-content: space-around;
}

.product-teaser:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.teaser-img {
    margin: auto;
}

.teaser-photo {
    width: 63.2px;
    height: 63.2px;
}

.teaser-meta {
    text-align: left;
}

.teaser-title {
    color: #333333;
    font-size: 14px;
    width: 157px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    position: relative;
    top: 1.5em;
}

.teaser-price {
    color: #ffd826;
    margin: 10px 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    height: 83px;
    width: 164px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    cursor: pointer;
}

.logo-brand {
    height: 51px;
    width: 102px;
    padding: 15px 30px;
}

.hot {
    background-color: #ff421d;
    font-size: 8px;
    text-align: center;
    display: block;
    color: #ffffff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.new {
    background-color: #53d542;
    font-size: 8px;
    text-align: center;
    display: block;
    color: #ffffff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}