.container-slider {
    display: flex;
    padding: 0 15px;
    direction: ltr;
    padding-bottom: 45px;
    max-width: 1420px;
    margin: 0 auto;
}

.Product-slider {
    margin-bottom: 1em;
}

.Product-slider-box {
    width: 260px;
    height: 370px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.Product-slider-box:hover .owl-next {
    display: block;
}

.prouduct-list1 {
    width: 260px;
    height: 272px;
}

.paoduct-icon {
    position: absolute;
    display: none;
    top: 30%;
    left: 63px;
    right: 0;
    margin: 0 auto;
    z-index: 40;
}


.flag-link {
    text-decoration: none;
    position: relative;
}

.icon-products {
    font-size: 23px;
    color: #555555;
    position: absolute;
    bottom: -12px;
    right: -11px;
}

.product-view {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
}

.Product-slider-box:hover .paoduct-icon {
    display: flex;
}

.product-view:hover {
    background-color: #333333;
}

.product-view:hover .icon-products {
    color: #fff;
}

.prouduct-list-hidden {
    width: 253.4px !important;
    height: 267.4px;
    display: none !important;
    z-index: -10;
    transition-duration: 1s;
    position: absolute;
    top: 0;
}

.Product-slider-box:hover .prouduct-list-hidden {
    display: block !important;
    z-index: 10;
}

.Product-slider-title {
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    color: #333333;
    font-size: 14px;
}

.Product-slider-price {
    margin: 0;
    font-size: 14px;
    color: #ffd826;
}

.product-slider-tagline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-decoration: none;
}