.subscribe {
    background-color: #efc1a7;
    background-image: url(../../assets/media/bg1.png);
    background-size: cover;
    background-position: center top;
}

.subscribe-container {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    position: relative;
    margin: 0 auto;
    width: 1420px;
    justify-content: space-between;
}

.subscribe-icon {
    position: relative;
    font-size: 2.6em;
    color: white;
    margin-left: 15px;
    top: 10px;
}

.subscribe-text {
    text-align: right;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    padding: 1em 0;
    background-color: #efc1a7;
}

.subscribe-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: -1px;
    color: white;
}

.subscribe-tagline {
    font-weight: 300;
    opacity: 0.7;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    color: #f0f0f0;
}

.form-inline {
    width: 100%;
    padding-left: 150px;
}

.form-group {
    position: relative;
    padding-left: 150px;
    margin-left: 15px;
}

.form-control {
    height: 44px;
    width: 100%;
    outline: none;
    border: 1px solid #ecedee;
    padding-right: 25px;
    padding-left: 120px;
    border-radius: 50px;
}

.btn-form {
    height: 48px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: auto;
    left: 0;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
    background-color: #ffd61a;
    border: 0;
    cursor: pointer;
    font-family: iranYekan;
    font-weight: 600;
    color: white;
    padding: 0 30px;
}

.btn-form:hover {
    background-color: #333333;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}