.footer {
    direction: rtl !important;
}

.block {
    padding: 60px 0 40px 0;
}

.footer-container {
    max-width: 1420px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.region-footer-first {
    max-width: 33.3333%;
    text-align: right;
    padding: 0 15px;
}

.footer-description {
    display: flex;
    flex-direction: column;
    color: #555555;
}

.descText {
    font-size: 14px;
}

.footer-phone {
    font-size: 18px;
    display: flex;
    align-items: baseline;
}

.calldetails {
    display: flex;
    align-items: baseline;
}

.footer-email {
    font-size: 18px;
}

.region-footer-second,
.region-footer-third,
.region-footer-forth,
.region-footer-fifth {
    width: 16%;
}

.block-title {
    font-size: 18px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
}

.block-title-wrap {
    text-align: right;
    margin-right: 40px;
}

.menu-footer {
    list-style: none;
    text-align: right;
}

.link-footer {
    text-decoration: none;
    color: #333333;
}

.list-footer {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0;
    margin-top: 0;
}

.footer-bottom-first {
    width: 50%;
}


.copyright-p {
    padding: 30px 0;
    text-align: right;
}

.footer-bottom-second {
    width: 50%;

}

.image-copyright {
    padding: 30px 0;
    text-align: left;
}