.header-container {
    max-width: 1420px;
    margin: 0 auto;
}

.header-top {
    border-bottom: .5px solid #f5f5f5;
    padding: 0 15px;
}

.account {
    color: #6d6d6d;
    text-decoration: none;
}

.wrapper-top {
    padding: 10px 0;
    line-height: 1.2;
    font-size: 1em;
    color: #6d6d6d;
    display: flex;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
}

.header-top-right {
    font-size: .8em;
}

.language {
    padding-right: 1em;
}

.icon-down1 {
    color: #6d6d6d;
    font-size: 9px;
    margin-right: 1em;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
    flex-wrap: wrap;
}

.header-Center {
    border-bottom: 1px solid #f5f5f5;
    padding: 0 15px;
}

.header-logo {
    margin-top: 1em;
    text-align: right;
    width: 10%;
}

.searchForm {
    display: flex;
    border: 1px solid #f5f5f5;
    border-radius: 25px;
}

.input-form {
    width: 32em;
    height: 1.5em;
    vertical-align: inherit;
    outline: none;
    border-right: 1px solid #eceaea;
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin-top: 1.2em;
    padding-right: 1em;
}

.button-form {
    height: 4em;
    width: 4em;
    vertical-align: bottom;
    border: none !important;
    border-radius: 25px 0px 0px 25px;
    background-color: #f2cc1b;
    outline: none;
    background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
}

.button-form:hover {
    background-color: #333333;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    border: none !important;
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
}

.icon-search {
    margin-left: 1px;
    margin-top: 5px;
    font-size: 22px;
    color: white;
}

.call-number {
    display: flex;
    position: relative;
    width: 15%;
}

.call-box {
    margin-left: 2em;
    text-align: right;
}

.tagline-call {
    margin: 0;
    color: #46505b;
}

.number-call {
    margin: 0;

}

.icon-cart {
    font-size: 25px;
    position: absolute;
    top: .5em;
    left: .3em;
}

.counter-order {
    position: absolute;
    background-color: #ffd61a;
    height: 1.2em;
    width: 1em;
    text-align: center;
    border-radius: 25px;
    left: 28px;
    bottom: 40px;
    color: white;
    font-size: 14px;
}

.header-bottom {
    box-shadow: 0 18px 32px -15px #f5f5f5;
    padding: 0 15px;
}


.categories {
    padding: 8px 3px 0 0;
    color: #818d94;
}

.icon-menu {
    color: #ffd61a;
}

.container-mega-menu {
    display: flex;
    justify-content: space-between;
    padding: .8em 0;
}

.mega-menu {
    margin: 0;
    cursor: pointer;
}

.mega-menu-title {
    vertical-align: top;
    margin-right: 1em;
    font-size: .95em;
}

.drop-down-categories {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 10;
    background-color: white;
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 10px 0 20px 2em;
    transition-duration: .5s;

}

.mega-menu:hover .drop-down-categories {
    display: flex;
    flex-direction: column;
    transition: .5s linear .4s;
}

.drop-down-link {
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
}

.delivery {
    display: flex;
}

.delivery-message {
    margin: 0;
    font-size: .8em;
}

.icon-delivery {
    margin-left: .3em;
    font-size: 18px;
}

.link-off {
    text-decoration: none;
    color: #6d6d6d;
}

.link {
    text-decoration: none;
    color: #424242;
    padding: 0 1em;
    font-weight: 700;
}

.link:hover,
.link-off:hover,
.cart-icon:hover {
    color: #e4d643;
}