.dv-star-rating{
    display: inline-block;
    position: relative;
    font-size: 1em !important;
    top: 18px !important;
}

.dv-star-rating-empty-star{
    float: right;
    cursor: pointer;
    color: #d2d2d2 !important;
}