.css-1okebmr-indicatorSeparator {
    display: none !important;
}

.css-2b097c-container {
    width: 10.8em;
    height: 2.8em;
}

.css-yk16xz-control {
    border: none !important;
    outline: none !important;
}

.css-1pahdxg-control {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 0 !important;
    border-style: none !important;
    border-width: 0 !important;
    box-shadow: 0 0 0 0px #ffffff !important;
    cursor: pointer !important;
}

.css-26l3qy-menu {
    width: 15em !important;
    text-align: right;
}